html {
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    width: 100%;
}
body {
    margin: 0px;
        box-sizing: border-box;
    height: 100%;
}
.all {
        box-sizing: border-box;
    gap: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.pt1 {
        box-sizing: border-box;
    gap:10px;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    display: grid;
    grid-template-areas: 
    "a a"
    "b c"
    "b d"
    "e e"
    ;
}
.pt11 {
    grid-area: a;
    background-color: blueviolet;
}
.pt12 {
    grid-area: b;    
    background-color: rgb(52, 226, 43);
}
.pt13 {
    grid-area: c;   
    background-color: rgb(43, 192, 226);
}
.pt14 {
    grid-area: d;
    background-color: rgb(226, 131, 43);
}
.pt15 {
    grid-area: e;
    background-color: rgb(52, 226, 43);
}
.pt2 {
    gap:10px;
        box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    "aa bb"
    "aa cc"
    "aa cc"
    "dd dd"
    ;
}
.pt21 {
    grid-area: aa;
    background-color: rgb(76, 226, 43);
}
.pt22 {
    grid-area: bb;    
    background-color: rgb(43, 208, 226);
}
.pt23 {
    grid-area: cc;   
    background-color: rgb(226, 147, 43);
}
.pt24 {
    grid-area: dd;
    background-color: rgb(214, 43, 226);
}
.pt3 {
        box-sizing: border-box;
    gap:10px;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    display: grid;
    grid-template-areas: 
    "aaa aaa aaa"
    "bbb ccc ccc"
    "ddd ddd ddd"
    "eee eee eee"
    ;
}
.pt31 {
    grid-area: aaa;
    background-color: rgb(43, 226, 76);
}
.pt32 {
    grid-area: bbb;    
    background-color: rgb(43, 208, 226);
}
.pt33 {
    grid-area: ccc;   
    background-color: rgb(226, 43, 49);
}
.pt34 {
    grid-area: ddd;
    background-color: rgb(226, 43, 211);
}
.pt35 {
    grid-area: eee;
    background-color: rgb(43, 198, 226);
}
